@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --primary: #ebebeb;

    --background: #fff;
    --text: #242424;
    --add: rgb(189, 60, 34);
}


#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 30px;
  background: url(https://images4.alphacoders.com/104/1043465.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* Start lang Content  */

.langContent {
  color: var(--white-color);
  background-color: #6c757d;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}
.langContent p {
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.langContent p:hover {
  color: var(--text);
}

/* End lang Content  */

/* Start Modal More About */

.Self_modal_about {
  position: absolute;
  background-color: #0000004e;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.Self_modal_about.show {
  display: flex;
}
.Self_modal_about.show .card {
  transform: translateY(0);
  visibility: visible;
}

.Self_modal_about .card {
  max-width: 400px;
  min-height: 350px;
  color: #454545;
  transition: 0.5s;
  transform: translateY(-30px);
  visibility: hidden;
}

.Self_modal_about .card .card-body .owner .info-content {
  flex: 1 0 65%;
}

.Self_modal_about .card .card-body .owner .info-content .social_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Self_modal_about .card .card-body .owner .info-content .social_content a {
  background-color: #454545;
  color: #fff;
  border-radius: 50%;
  transition: 0.4s;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.Self_modal_about .card .card-body .owner .info-content .social_content a:hover {
  background-color: #000;
  color: #fff;
}

.Self_modal_about .card .card-body .owner .img-content {
  flex: 1 0 35%;
  border-radius: 50%;
  height: max-content;
}
.Self_modal_about .card .card-body .owner .img-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* End Modal More About */

/* Start card_weather */
/* parent  */
.card_weather {
  background-color: var(--background);
  min-width: 250px;
  min-height: 300px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}


/* iframe map ( Content ) */

.card_weather .part_map {
  flex: 0;
  transition: 0.4s;
}
.card_weather .part_map.show {
  flex: 1 0 250px;
  padding: 10px;
}
.card_weather .part_map iframe {
  max-width: 100%;
  height: 100%;
}


.card_weather .col hr {
  background-color: var(--add);
  color: var(--add);
}

/* part info ( Content ) */
.card_weather .part_info {
  flex: 1 0 auto;
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

/* empty result row */

.card_weather .part_info .empty_result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 150px;
  color: var(--text);
  font-weight: 200;
}
.card_weather .part_info .empty_result .empty-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}
.card_weather .part_info .empty_result .empty-img img {
  max-width: 50%;
  max-height: 100%;
}

.card_weather .part_info .empty_result .empty-info {
  margin: 0;
}

/* search bar row */
.card_weather .part_info .search_content {
  position: relative;
}
.card_weather .part_info .search_content #btn-search {
  position: absolute;
  right: 0;
  top: 52%;
  transform: translateY(-48%);
  color: var(--text);
  transition: 0.5s;
  width: 10%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_weather .part_info .search_content input {
  width: 100%;
  height: 35px;
  border: none;
  box-shadow: inset 0 0 3px 0px var(--black-color);
  outline: none;
  border-radius: 3px;
  background-color: var(--background);
  color: var(--text);
  padding: 5px 20px;
  font-size: 13px;
}
.card_weather .part_info .search_content input:valid,
.card_weather .part_info .search_content input:focus-visible {
  border: 1px solid var(--add);
  box-shadow: inset 0 0 3px 0px var(--add);
}

.card_weather .part_info .search_content input:valid + label,
.card_weather .part_info .search_content input:focus-visible + label {
  top: 0;
  left: 2px;
  color: var(--add);
  font-size: 12px;
  background-color: var(--background);
  border-bottom: 1px solid var(--add);
}
.card_weather .part_info .search_content label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #454545;
  transition: 0.5s;
  width: max-content;
  border-radius: 8px;
}


/* big info row */
.card_weather .big_info_content {
  display: flex;
}

.card_weather .big_info_content .name-deg {
  color: var(--text);
  width: max-content;
}
.card_weather .big_info_content .name-deg span.material-symbols-outlined {
  color: var(--add);
}

.card_weather .big_info_content .icon-deg {
  display: flex;
  align-items: center;
  width: max-content;
}
.card_weather .big_info_content .icon-deg img {
  height: 7rem;
}

.card_weather .big_info_content .num-deg {
  font-size: 15px;
  color: var(--text);
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: max-content;
  align-items: center;
}
.card_weather .big_info_content .num-deg p {
  font-size: 4rem;
  color: var(--text);
  margin: 0;
}
.card_weather .big_info_content .num-deg .ch_deg span {
  cursor: pointer;
  color: var(--add);
  font-size: 1.3rem;
}
.card_weather .big_info_content .num-deg .ch_deg hr {
  margin: 0;
}
.card_weather .big_info_content .num-deg .ch_deg span:hover,
.card_weather .big_info_content .num-deg .ch_deg span.active {
  color: var(--text);
  transition: 0.4s;
}

/* collection-info row */
.card_weather .part_info .collection-info {
  width: 100%;
}

.card_weather .part_info .collection-info p {
  color: var(--text);
  font-size: 15px;
  margin-bottom: 3px;
  width: max-content;
  font-weight: 200;
}
.card_weather .part_info .collection-info p span:not(.material-symbols-outlined) {
  color: var(--add);
  font-size: 13px;
}
.card_weather .part_info .collection-info p span.material-symbols-outlined {
  font-size: 14px;
  font-weight: 400;
}

/* text stat row */
.text-stat h3 {
  position: relative;
  width: max-content;
}
.text-stat h3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--add);
  bottom: 2px;
  left: 0;
}


/* hourly_forecast row */
.hourly_forecast {
  min-width: 100%;
  max-width: 150px;
}

.hourly_forecast .fore-title {
  margin-bottom: 1px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text);
}


.hourly_forecast .scroll_content_forecs{
  padding: 5px;
  display: flex;
  gap: 5px;
  overflow: auto;
  scroll-behavior: smooth;
  box-shadow: inset 0 0 4px 1px var(--black-color);
}
.hourly_forecast .scroll_content_forecs::-webkit-scrollbar {
  background-color: var(--text);
  height: 7px;
}
.hourly_forecast .scroll_content_forecs::-webkit-scrollbar-thumb {
  background-color: var(--add);
}
.hourly_forecast .scroll_content_forecs.dragging{
  scroll-behavior: auto;
  cursor: grab;
}
.hourly_forecast .scroll_content_forecs.dragging .fore{
  user-select: none;
}



.hourly_forecast .scroll_content_forecs .fore {
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 15px;
  margin: 0 5px;
  flex: 1 0 auto;
  box-shadow: 0 0 5px var(--black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hourly_forecast .scroll_content_forecs .fore .icon_num_fore {
}
.hourly_forecast .scroll_content_forecs .fore .icon_num_fore .icon-fore {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hourly_forecast .scroll_content_forecs .fore .icon_num_fore .icon-fore img {
  height: 1.8em;
  width: max-content;
}
.hourly_forecast .scroll_content_forecs .fore .icon_num_fore .num-fore p {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.hourly_forecast .scroll_content_forecs .fore .date-fore {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hourly_forecast .scroll_content_forecs .fore .collection-info-fore {
  font-size: 14px;
  width: 100%;
}
.hourly_forecast .scroll_content_forecs .fore .collection-info-fore .col-6 {
  padding: 0;
}
.hourly_forecast .scroll_content_forecs .fore .collection-info-fore p {
  font-size: 13px;
  font-weight: 100;
  margin-bottom: 2px;
  color: var(--text);
}
.hourly_forecast .scroll_content_forecs .fore .collection-info-fore p span {
  font-size: 12px;
  font-weight: 300;
  color: var(--add);
}

/* End card_weather */

/* Queries styles  -------------------------------------*/

@media (max-width: 590px) {

  body #app .card_weather {
    flex-direction: column;
  }

}